%h2= t "kuulutused.add_to_kuulutused"

%p= t "kuulutused.submit_tagline"

= semantic_form_for(@place, :remote => true) do |f|
  = f.input :name, :label => t("kuulutused.name")
  = f.input :address1, :label => t("kuulutused.street_address")
  = f.input :city, :input_html => {:disabled => true}, :label => t("kuulutused.city")
  = f.input :country, :input_html => {:disabled => true}, :label => t("kuulutused.country")
  %h3 Optional:
  = f.input :comment, :as => :text, :label => t("kuulutused.your_comment")
  = f.input :contact_email, :as => :string, :label => t("kuulutused.your_email_address")
  = f.submit t("kuulutused.submit_to_database")
