.event
  .event_title_bar
    .row
      .small-12.columns
        %h1= @event.title
    
        .event_metadata
          - if @event.future?
            - if @event.ticket_url
              = link_to @event.ticket_url do
                = fa_icon 'ticket'
                = t(:buy_ticket)
            
  .row

      
    .small-12.medium-push-6.medium-6.columns
      - if @event.avatar?
        .event_image
          = image_tag @event.avatar.url
      .event_info
        = raw @event.notes.gsub(/\n/, '<br />')
        %br/
        = t(:performances) + ":"
        %br/
        - @event.instances.each do |instance|
          = date_range(instance.start_at, instance.end_at, format: :with_day)
          - if instance.future?
            - if instance.ticket_url
              = link_to instance.ticket_url, :target => :_blank do
                = fa_icon 'ticket'
                = t(:buy_ticket)
          %br/
    .small-12.medium-6.medium-pull-6.columns
      .event_description= raw @event.description          