= semantic_form_for([:admin,  event],  :html => {:multipart => true } ) do |f|
  .twelve.columns
    .six.columns.alpha= f.input :location, :label => "Which Ptarmigan?", :as => :select
    .six.columns.omega
      = f.input :subsite, :label => 'Assign to sub-site', :hint => 'will appear in content of subdomain'
      = f.input :show_on_main, :label => 'Also show on main site', :hint => 'Will appear in subdomain but also in main Ptarmigan news on regular site'

  %hr
  .twelve.columns
    .six.columns.clearfix.alpha
      = f.input :date, :as => :string,  :input_html => {:class => 'date-pick'}
      = f.input :enddate, :as => :string, :input_html => {:class => 'date-pick'}, :label => "Ending date", :hint => 'leave blank unless a multi-day event; not for things that will run past midnight'
      = f.input :promoter, :label => "Promoter", :hint => "optional, ex: Äänen Lumo, usually blank though"      
    .six.columns.clearfix.omega
      = f.input :place, :as => :select,:collection => Place.all.map{|x| [x.name + "/" + x.address1, x.id]}, :hint => "Don't accidentally pick the old Ptarmigan on Nilsiänkatu!", :include_blank => true

      = f.input :event_type, :label => "Event type", :hint => "usually a set of keywords separated by colons, that we haven't set up to link as tags YET"
  .thirteen.columns
    = tabs_for do |tab|
      - tab.create('english', 'English') do
        = f.globalize_fields_for :en do |en|
          %p 
            Title
            = en.text_field :title
            Note: you must enter content in all three fields (title, description, notes) for a language
          %p
            Description of event
            = en.cktext_area :description
          %p
            Notes and metadata (start time, etc.)
            %br/
            = en.text_area :notes, {:cols => 40, :rows => 5}
      - tab.create('finnish', 'Finnish') do
        = f.globalize_fields_for :fi do |fi|
          %p
            Title
            = fi.text_field :title
            Note: you must enter content in all three fields (title, description, notes) for a language
          %p
            Tapahtuman kuvaus
            = fi.cktext_area :description
          %p
            Huomautukset ja metatiedot (alkamisaika, jne.)
            %br/
            = fi.text_area :notes, {:cols => 40, :rows => 5}
      - tab.create('estonian', 'Estonian') do
        = f.globalize_fields_for :et do |et|
          %p
            Title
            = et.text_field :title
            Note: you must enter content in all three fields (title, description, notes) for a language
          %p
            Kirjeldus sündmus
            = et.cktext_area :description
          %p
            Märkmed ja metaandmeid (algusaeg, jne)
            %br/
            = et.text_area :notes, {:cols => 40, :rows => 5}          
      - tab.create('russian', 'Russian') do
        = f.globalize_fields_for :ru do |ru|
          %p 
            Title
            = ru.text_field :title
            Note: you must enter content in all three fields (title, description, notes) for a language
          %p
            Описание мероприятия
            = ru.cktext_area :description
          %p
            Заметки и метаданные (время начала, и т.д.)
            %br/
            = ru.text_area :notes, {:cols => 40, :rows => 5}          
      - tab.create('swedish', 'Swedish') do
        = f.globalize_fields_for "sv-SE" do |sv|
          %p 
            Title
            = sv.text_field :title
          %p
            Description of event
            = sv.cktext_area :description
          %p
            Notes and metadata (start time, etc.)
            %br/
            = sv.text_area :notes, {:cols => 40, :rows => 5}      
  .twelve.columns
    %h4 Other information
    .six.columns.alpha
      = f.input :cost, :label => "Cost", :hint => "enter 0 for free events, must be number, no characters besides numbers and . allowed"
      = f.input :donations_requested, :label => 'Donations requested?', :hint => "Check this to replace 'FREE' on site with 'Donations requested'"
      = f.input :discountedcost, :label => "Alternate discount cost?", :hint => "For events that are cheaper for some people (unemployed, members, etc.)"
      = f.input :discountreason, :label => "Discount reason", :hint => "If discount cost above is enteres, this reason for the discount will be displayed on the lower price, eg: 'With mental alaska membership card'"
    .six.columns.omega
      = f.input :artist, :collection => Artist.order("startdate DESC").map{|x| [x.name[0..40], x.id]}, :hint => "Choose an artist if this event related directly to a resident artist"
      = f.input :project, :collection => Project.order(:location_id, :name).map{|x| ["#{x.name} (#{x.location.name})", x.id]}, :hint => "do NOT choose Tallinn or Helsinki residencies - pick from artist dropdown above if a resident is involved"
      - if f.object.avatar?
        = image_tag f.object.avatar(:thumb)
        = f.check_box :remove_avatar
        Delete image
      = f.input :avatar, :label => "Avatar/image" + (f.object.avatar? ? ' -- change:' : ''), :hint => raw("Image that will appear on event page and listings.  Can be any resolution or aspect ratio. THIS MUST BE JPG OR GIF OR PNG -- <strong><font size='+1'>NO TIFF FILES!!!</font></strong>")
      - if f.object.carousel?
        = image_tag f.object.carousel(:small)
        = f.check_box :remove_carousel
        Delete carousel image
      = f.input :carousel, :label => 'Carousel image' + (f.object.carousel? ?  ' -- change:' : ''), :hint => raw("optional, but recommended.  Must be at least 960x400, will be cropped if larger. THIS MUST BE JPG OR GIF OR PNG -- <strong><font size='+1'>NO TIFF FILES!!!</font></strong>")
  %hr
  .thirteen.columns
    .six.columns.alpha
      = f.input :facebook, :label =>  'ID of Facebook event (12 digits or so)'
      /= f.input :publicschool, :label => 'ID of Public school class (4 digits or so)'
      /= f.input :hide_from_front, :label => 'Hide from frontpage upcoming events listing?'
      = f.input :public, :label => 'Publish to site?', :hint => "If unchecked, event will only be seen by staff. Leave unchecked unless you are ready to announce this."
    .six.columns.omega{:style => "border: 1px solid black;"}
      = f.input :registration_required, :label =>  'Registration required?'
      = f.input :registration_limit, :label => 'Maximum participants', :hint => "leave blank for unlimited"
      = f.input :registration_optional_q, :label => 'Optional extra question for reg. form?', :hint => "Add an extra question to the registration form. Unfortunately, only in one language."
      = f.input :registration_recipient, :label => 'Send email after registration to', :hint => 'Defaults to helsinki or tallinn@ptarmigan, but you can have it go to someone else, or multiple addresses separated by commas'
      = f.input :require_approval, :label => "Attendees must be approved by Ptarmigan staff"
      = f.input :hide_registrants, :as => :radio,  :hint => 'Hide the number of places left on the registration form'
  /= f.input :featured, :label => 'Include in forthcoming frontpage events carosel'


  = f.actions do
    = f.submit "Save this event!"

:javascript
  $(function() {
    $("#tabs").tabs();
  });