
- unless @artists.empty?
  .artists
    .headline
      %h2
        = t :artists
        = " : "
        = t :current
      = paginate(@artists)
    = render :partial => "artist", :collection => @artists



- unless @past_artists.empty?
  .events
    .headline
      %h2
        = t :artists
        = " : "
        = t :past
      = paginate @past_artists
    = render :partial => "artist", :collection => @past_artists
    

/ - if current_user
/   = link_to 'New artist', new_admin_artist_path