%h3
  = t :participants
  = ": #{@event.name}"
- if @event.require_approval == true
  - @attendees.reject!{|x| x.approved != true }

.attendees
  - if @attendees.empty?
    %p= t(:no_attendees_yet, :scope => :donekino)
    %p= link_to t(:register_here, :scope => :donekino), event_path('done-kino')
  - @attendees.each do |attendee|
    .attendee.eight.columns
      - unless attendee.profile_file_size.blank?
        .columns.alpha= image_tag attendee.profile.url(:small)
      .two.columns.omega
        .participant_name= attendee.name
        - unless attendee.comes_from.blank?
          .participant_location= attendee.comes_from
        - unless attendee.bio.blank?
          .participant_bio= attendee.bio


.twelve.columns.share_this= share_this(@event)


= content_for :sidebar do
  = render :partial => 'shared/sidebar_from_posts', :locals => {:current_post => nil}