.container
  %center
    .months
      %span.prev_month= link_to raw('&#8592;'),  ctcalendar_path(:year => params[:month] > 1 ? params[:year] : params[:year] - 1, :month => params[:month] > 1 ? params[:month] - 1 : 12 )
      %span.active_month= t('dates.ctmonths')[params[:month]]
      %span.next_month= link_to raw('&#8594;'),  ctcalendar_path(:year => params[:month] < 12 ?  params[:year] : params[:year] + 1, :month => params[:month] < 12 ? (params[:month] + 1) : 1 )
.event_categories_list#sticky-menu
  %nav
    %ul.event_categories
      - @eventcategories.each do |ec|
        %li= link_to ec.name, '#', style: "color: ##{ec.colour}"
        
        
-# = link_to image_tag(entry.calendar_icon(:thumb, nil)), ctcalendar_path(:year => key, :month => k)

= calendrier(:year => params[:year], :month => params[:month], :day => params[:day], :start_on_monday => true, :display => :month, :title => false) do |cell_begin_time, cell_end_time|

  - if count_sorted_events(@events, cell_begin_time, cell_end_time) > 0 
  
    
    %ul.events
      - yield_sorted_events(@events, cell_begin_time, cell_end_time) do |obj| 
        %li{style: "#{obj.bordercss}", :"data-featherlight" => "#event_#{obj.id.to_s}"}
          = [obj.event_time, obj.name].join(' ')
          - unless obj.promoter.blank?
            .smaller= "by #{obj.promoter}"
          .smaller= "at #{obj.place.name}"
        .obscured{id: "event_#{obj.id.to_s}"}
          .title= obj.name
          .date
            = l obj.date, :format => :short
            - unless obj.enddate.blank?
              = "#{t(:daterange)} #{l obj.enddate, :format => :short}"
          - unless obj.promoter.blank?
            .promoter= "by #{obj.promoter}"
          .place
            = "at #{obj.place.name}"
            - if obj.place.latitude && obj.place.longitude
              = link_to t(:map), "http://maps.google.com/maps?q=#{obj.place.latitude},#{obj.place.longitude}", target: :_blank
          .description= simple_format(obj.description)

          - if obj.facebook
            %p= link_to 'Facebook', 'http://www.facebook.com/event.php?eid=' + obj.facebook.to_s, target: :_blank
          - if obj.otherweb
            %p= link_to t(:more), obj.otherweb, target: :_blank
          - unless obj.eventcategories.empty?
            .event_categories 
              - obj.eventcategories.each do |ec|
                %span{style: "color: ##{ec.colour};"}= ec.name