

.row.expanded
  .large-9.columns.calendar_outer_frame.small-10.medium-10
    / .row
    /   .large-12.columns.banner_ad this is an ad
    .row
      .large-12.columns.the_calendar
        %nav
          %ul.event_categories
            %li.month_title= params[:year].to_s + "/" + I18n.t("date.month_names")[params[:month]]
            - @eventcategories.each do |ec|
              %li= link_to ec.name, '#'
      
        #prev_week <
        
        #calendar
        #next_week >
-# = link_to image_tag(entry.calendar_icon(:thumb, nil)), ctcalendar_path(:year => key, :month => k)


= content_for :jquery do
  = render partial: 'shared/map.js'
  :plain
    // if ($('ul#other_venues li').length == 0) {
    //   var starting =$('#calendar').fullCalendar('getView').start.format("YYYY-M-D");
    //   var ending = $('#calendar').fullCalendar('getView').end.format("YYYY-M-D");
    //   $.ajax({
    //           url: "/places/ctvenues?starting=" + starting + "&ending=" + ending + "&scope=other_venues",
    //           type: 'post',
    //           data: $(this).serialize()
    //       }).done(function (data) {
    //         populateCTFilters($('ul#other_venues'), data);
    //     });
    // }
    
    $('#next_week').click(function(){
        $('#calendar .fc-next-button').click();
    });
    $('#prev_week').click(function() {
      $('#calendar .fc-prev-button').click()
    })
    function renderViewColumns(view, element) {
      element.find('th.fc-day-header.fc-widget-header').each(function() {
        var theDate = moment($(this).data('date')); /* th.data-date="YYYY-MM-DD" */
        $(this).html(buildDateColumnHeader(theDate));
      });

      function buildDateColumnHeader(theDate) {
        moment.locale('#{I18n.locale.to_s}');
        var container = document.createElement('div');
        var DDD = document.createElement('div');
        var ddMMM = document.createElement('div');
        DDD.textContent = theDate.format('D').toUpperCase();
        ddMMM.textContent = theDate.format('dddd') ;
        DDD.className = "ct-day";
        container.appendChild(DDD);
        container.appendChild(ddMMM);
        return container;
      }
    }
  
      $('#calendar').fullCalendar({

            header: {
              left: ''
            },
            defaultView: 'basicWeek',
            allDaySlot: true, 
            dayRender: function(date, cell) {
              d = new Date();
              dd = moment(date).format('yyyy-MM-dd');
            
              $('.fc-day[data-date="'+ dd +'"]').addClass('cellBg');
              if (cell.hasClass('fc-today')) { // looking for today's cell
                  var index = cell.index(); // get the td offset
                  var header = $('#calendar thead.fc-head th').eq(index);
                  header.addClass('fc-today'); 

              }            

            },
            contentHeight: '400px',
            locale: '#{I18n.locale.to_s}',
            contentHeight: 'auto',
            firstDay: 1,
            viewRender: renderViewColumns,
            views: {
              week: {
                columnFormat: 'd\n<span class="weekday">dddd</span>'
              }
            },
            fixedWeekCount: false,
            eventSources: [
              {
                url: '/calendar'
              }
            ],
            timeFormat: 'H:mm',
            locale: '#{I18n.locale.to_s}',
            dragOpacity: "0.5",
            eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
              return updateEvent(event);
            },
          
            eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
              return updateEvent(event);
            },
            eventClick: function(calEvent, jsEvent, view) {
             //
            },
            eventRender: function(event, element, view) {

                if (view.name === "basicWeek") {
                
                  element.find(".fc-content")
                    .append(event.notes + event.promoter + event.place);
                  //element.find(".fc-content").parent('a').attr('onClick', "openEvent('" + event.cturl + "', " + event.id +");");
                  // element.find(".fc-content").parent('a').attr('href', 'javascript:void(0)');
                  element.find(".fc-content").parent('a').attr('rel', event.id);
           
                }

        
            },
            eventAfterRender: function(event, element,view) {
            
              $('html').css("background", "url(#{@calendar_background.image.url(:large)})  no-repeat  center center/cover fixed");
              var month = $("#calendar").fullCalendar('getView').start.format('YYYY/MMMM');    
              $('nav ul.event_categories li.month_title').text(month);
              if ($('#overlay_' + event.id).length == 0) {
                $("footer").prepend('<div class="event_info reveal" id="overlay_' + event.id +  '" data-overlay="false"  data-multiple-opened="false" data-reveal></div>').foundation();
              }
              if (moment(event.start).format('YYYY-M-D') == moment(new Date()).format('YYYY-M-D')) {
                element.parent().addClass('fc-today');
              }
  

              // element.foundation();
              
            }, 
            eventAfterAllRender: function(view) {
              var timerStart = Date.now();
              // sync minicalendar
              $('#minicalendar').fullCalendar('gotoDate', $('#calendar td.fc-day').eq(0).attr('data-date'));
              $('#minicalendar td.fc-day-top').css('background', 'transparent');
              $('#calendar td.fc-day').each(function() {
                $('#minicalendar td.fc-day-top[data-date=' + $(this).attr('data-date') + ']').css('background-color', 'white');
              });

              $('#calendar .fc-event-container a').on('click', function (e) { 
              
                e.preventDefault();
                var voffset = e.clientY;
                var hoffset = e.clientX;
             
                var url = $(this).attr('href');
                var id = $(this).attr('rel');
                $('#overlay_' + $(this).attr('rel')).attr('data-h-offset', hoffset + 50);
                $('#overlay_' + $(this).attr('rel')).attr('data-v-offset', voffset);
            
                $.ajax(url).done(function(resp) {
                   $('#overlay_' + id).html(resp).foundation('open');
                   $('#overlay_' + id).css('top', voffset + 'px');
                   $('#overlay_' + id).css('left', parseInt(hoffset + 50) + 'px');
                 if ($('#overlay_' + id).visible() == false) {
    
                   var height = $('#overlay_' + id).css('height');

                   $('#overlay_' + id).css('top', (parseInt(voffset) - parseInt(height)) + 'px');
                   $('#overlay_' + id + ' .corner').css('display', 'none');
                   $('#overlay_' + id + ' .bottom_corner').css('display', 'block');
                   $('#overlay_' + id + '   .map_overlay').css('margin-left', '28px');
                 }
                 });
                 return false;
               });
              var today = moment(new Date()).format('YYYY-M-D');
              if ($('#calendar td[data-date=' + today + ']').length > 0) {
                $('#calendar .fc-content-skeleton table tbody tr td').eq(moment(new Date()).format('d') -1).addClass('fc-today');
              }
              if (dontcallback == 1) {
                $('ul#other_venues li a[data-state="disabled"]').map(function() {
                  var t = $(this).attr('data-ct-filter');
                  dontcallback = 0;
                  $('#calendar').fullCalendar('removeEvents', function(event) {
                    //alert('event is ' + event.place_id + ' and t is  ' + t);
                    return parseInt(event.place_id) == parseInt(t);
                  });
                }); 
                $('ul#disciplines li a[data-state="disabled"]').map(function() {
                  var t = $(this).attr('data-ct-filter');
                  dontcallback = 0;
                  $('#calendar').fullCalendar('removeEvents', function(event) {
                    //alert('event is ' + event.place_id + ' and t is  ' + t);
                    return parseInt(event.place_id) == parseInt(t);
                  });
                });
              }
                
        
              console.log("Time until eventAfterAll loaded: ", Date.now()-timerStart);
          }
        });


        updateEvent = function(the_event) {

          return $.update("/calendar/" + the_event.id, {
            event: {
              title: the_event.title,
              notes: the_event.notes,
              promoter: the_event.promoter,
              place: the_event.place,
              starts_at: "" + the_event.start,
              ends_at: "" + the_event.end,
              description: the_event.description
            }
          });
        };

