
- if @first_events.empty?
  .front_posts_container
    .row.expanded.post_boxes
      - column_count = 3
      .latest_post_container.columns.large-3.small-10.small-offset-1.medium-offset-0
        .inner
          %h3.text-center= t("madhouse.latest_news")
          - @posts.take(4).each do |post|
            .post_entry
              .title= link_to post.title, post
              .date= timeago_tag post.published_at
              

      = render partial: 'posts/postfeed', locals: {column_count: column_count}



- else 
  .mad_banner
    .text-center
      %h2
        = t("madhouse.season")
        5
  .front_posts_container

    .row.expanded

      - column_count = 3
      .front_upcoming.large-9.large-push-3.columns.small-12
        .small-up-1.medium-up-2.row.expanded{:"data-equalizer-watch" => '', class: @first_events.size < 3 ? false : 'large-up-3 xlarge-up-4'}
          - @first_events.each_with_index do |event, index|

            = link_to event do
              .single_event.column
                .inner{style: event.avatar? ? "background: url(#{event.avatar.url(:medium)}) no-repeat center center; background-size: cover;" : ''}
                  %h3
                    - if event.secondary == true 
                      = t "madhouse.next_at_ihana"
                    = link_to event.title, event

                  .date
                    = date_range(event.date, event.enddate)

                  - if event.secondary == true && @ihana.nil?
                    .lower_link= link_to t("madhouse.ihana_bar_programme"), '/madhousebar'
          - unless @secondary.empty?
            .single_event.columns
              .inner.blue
                %h3= t :next_at_mad_bar
                - last = nil
                - @secondary.each do |sec|
                  - if sec.slug == 'hamletprivate'
                    - last = sec
                  - else
                    .secondary_event
                      .sec_title= link_to sec.title, sec
                      .date= date_range(sec.date, sec.enddate)
                - unless last.nil?
                  .secondary_event
                    .sec_title= link_to last.title, last
                    .date= date_range(last.date, last.enddate)

        .row.expanded
          .small-10.small-offset-1.columns.text-right
            .smaller
              = link_to fa_icon('arrow-up') + t("madhouse.back_to_top"), '#', onclick: 'javascript:$("html, body").animate({ scrollTop: 0 }, "slow");return false;'
            .smaller
              = link_to fa_icon('star') + t("madhouse.all_events"), events_path
      .latest_post_container.columns.large-3.large-pull-9.small-12.medium-offset-0
        = render partial: 'shared/news_sidebar'


-# social media stream

- link_filter = AutoHtml::Link.new(target: '_blank')

- unless @social_media['twitter'].empty?
  .social_front.row.expanded
    - @social_media['twitter'].each do |sm|
      .small-6.medium-4.large-2.twitter.columns
        .twitter_box
          = link_to fa_icon('twitter'), sm.link_url, target: :_blank

          = raw link_filter.call(sm.content)
          .timestamp= link_to timeago_tag(Time.at(sm.issued_at)),  sm.link_url, target: :_blank

- unless @upcoming.empty? || @upcoming == @first_events
  - column_count = 0
  .events_index
    .event_boxes
      = render partial: 'events/eventfeed', locals: {column_count: column_count}

- unless @social_media['other'].empty?
  .social_other
    - @social_media['other'].each do |sm|
      - if sm.source == 'instagram'
        - next unless sm.image?
        .slide.instagram_box.columns{style: "background: url(#{sm.image.url}) center center; background-size: cover"}
          .text
            = link_to fa_icon('instagram'), sm.link_url, target: :_blank
            = raw link_filter.call(sm.title)
            .timestamp= link_to timeago_tag(Time.at(sm.issued_at)),  sm.link_url, target: :_blank
      - elsif sm.source == 'facebook'
        - next if sm.title.blank?
        .slide.facebook_box.columns{style: sm.image? ? "background: url(#{sm.image.url}) center center; backgrond-size: cover; width: #{sm.image_width / 2}px; height: #{sm.image_height / 2}px;" : ''}
          .text
            = link_to fa_icon('facebook'), sm.link_url, target: :_blank
            = raw link_filter.call(truncate_html(sm.title, length: 150))
            .timestamp= link_to timeago_tag(Time.at(sm.issued_at)),  sm.link_url, target: :_blank

.calendar_front#calendar_container
  .row
    .small-12.columns#calendar




= content_for :jquery do
  :plain

    $('.social_other').slick({
        dots: false,
        infinite: true,
        arrows: false,
        slidesToShow: 3,
        slidesToScroll: 3,
        centerMode: true,
        variableWidth: true,
        autoplay: true,
        autoplaySpeed: 2500
    });
    var $fc = $("#calendar");

    var screenWidth = $(window).width();
    var options = {
          editable: true,
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          contentHeight: '600px',
          lang: '#{I18n.locale.to_s}',
          contentHeight: 'auto',
          firstDay: 1,

          fixedWeekCount: false,
          slotMinutes: 30,
          eventSources: [
            {
              url: '/calendar'
            }
          ],
          timeFormat: 'H:mm',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
            return updateEvent(event);
          },
          eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
            return updateEvent(event);
          }
        };
    var mobileOptions = {
      editable: true,
      header: {
          left: 'prev,next today',
          center: 'title',
          right: ''
      },
      defaultView: 'listMonth',

      lang: '#{I18n.locale.to_s}',
      contentHeight: 'auto',
      firstDay: 1,

      fixedWeekCount: false,
      slotMinutes: 30,
      eventSources: [
        {
          url: '/calendar'
        }
      ],
      timeFormat: 'H:mm',
      dragOpacity: "0.5",
      eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
        return updateEvent(event);
      },
      eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
        return updateEvent(event);
      }
    };

    if (screenWidth < 700) {
      $fc.fullCalendar(mobileOptions);
    } else {
      $fc.fullCalendar(options);
    };
    var today = new Date();
    var d = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    if (d < '2018-01-01') {
      $fc.fullCalendar('gotoDate', '2018-01-01');
    }

    var  updateEvent = function(the_event) {

        return $.update("/calendar/" + the_event.id, {
          event: {
            title: the_event.title,
            starts_at: "" + the_event.start,
            ends_at: "" + the_event.end,
            description: the_event.description
          }
        });
      };

    $(window).resize(function() {

      screenWidth = $(window).width();
      $fc.fullCalendar('destroy');
      if (screenWidth < 700) {
        $fc.fullCalendar(mobileOptions);
        } else {
          $fc.fullCalendar(options);
        };
      var today = new Date();
      var d = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      if (d < '2018-01-01') {
        $fc.fullCalendar('gotoDate', '2018-01-01');
      }
    });
