.corner
  = image_tag theme_image_path('corner.png')
.bottom_corner
  = image_tag theme_image_path('bottom_corner.png')    
.map_overlay
  %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
    %span{"aria-hidden" => "true"}= raw "&times;"
  .text
    %h1= @event.eventcategories.map(&:name).join(' / ')

    .date= date_range(@event.date, @event.enddate)
    .location=  link_to @event.place.name, '#', onclick: "javascript:$('.reveal').foundation('close');displayMap(#{@event.place.id}, '#{session[:locale].to_s}');"
    - unless @event.promoter.blank?
      .promoter
        by
        = @event.promoter

    - unless @event.cost.blank?
      .cost
        = ptarmigan_cost(@event.cost)
        - unless @event.ticket_url.blank?
          = link_to t("ct.buy_tickets_here"), @event.ticket_url
      
    .title= @event.title
    .description
      = raw  @event.description
    %ul.icons 
      - unless @event.otherweb.blank?
        
        %li
          = link_to @event.otherweb, target: :_blank do
            = fa_icon 'external-link'
            = 'www'
        
      - unless @event.facebook.blank?
        %li
          = link_to "https://www.facebook.com/events/#{@event.facebook.to_s}", target: :_blank do
            = fa_icon 'facebook'
            = 'Facebook'
      - unless @event.article_link.blank?
        %li= link_to t("ct.article"), @event.article_link, target: :_blank
      - unless @event.teaser.blank?
        %li= link_to t("ct.teaser"), @event.teaser, target: :_blank
      - unless @event.ticket_url.blank?
        %li= link_to t("ct.tickets"), @event.ticket_url, target: :_blank
      
            