
.one-third.column.alpha
  .page
    = link_to(posts_path) do 
      .title= t :news

  .posts
    - @posts[0..1].each do |post|
      .front_single.clearfix
        .blog_title= link_to post.title, post
        .post_metadata
          - if post.is_personal == true
            = "posted by #{post.user.email.gsub(/\@.+$/, '')} on #{l(post.created_at, :format => :short)}"
          - else
            = "posted by Ptarmigan on #{l(post.created_at, :format => :short)}"
        - if post.carousel?
          = image_tag post.carousel.url(:small)
        .blog_body= raw post.body
        .share_this= share_this(post)

    .see_all= link_to t(:see_all_news, :scope => :donekino), posts_path
.one-third.column.alpha
  - Page.by_subsite(@subsite).each do |p|
    .page
      .title= link_to p.title, page_path(p.slug)
      = link_to(page_path(p.slug), :class => :block, :style => 'background: transparent url(' + p.carousel.url(:small) + ') no-repeat;') do

        .outer_hover
          = p.excerpt
  .page
    .title= link_to t(:participants), event_attendees_path('done-kino')
    = link_to(event_attendees_path('done-kino'), :class => :block, :style => 'background: transparent url(' + theme_image_path('participant_bg.jpg') + ') no-repeat;') do
      .outer_hover
        = t :who_is_coming, :scope => :donekino
.one-third.column.omega= render :partial => 'shared/sidebar'
