= semantic_form_for([:admin, @place]) do |f|
  .row
    .small-10.medium-6.columns
      = f.input :name
      = f.input :address1
      = f.input :address2
      = f.input :city
      = f.input :country
      = f.input :postcode
      = f.input :map_url
    .small-10.medium-6.columns
      Leave blank and geocoding service should pick it up automatically:
      = f.input :latitude
      = f.input :longitude
      %br/
      = f.input :locations  , as: :check_boxes
  .row
    .small-10.medium-6.columns
      = f.actions do
        = f.submit