%h3 Event categories

= button_to 'new event category', new_admin_eventcategory_path, :method => :get
= paginate(@eventcategories)

.events
  - @eventcategories.each do |ec|
    .category{style: "background-color: ##{ec.colour}" }
      = ec.name
      %span.smaller_font
        = link_to '(edit)', edit_admin_eventcategory_path(ec)
        %span.delete= link_to '[delete]', [:admin, ec], data: {:confirm => 'Are you sure?'}, :method => :delete



= paginate(@eventcategories)
%br/
%br/

= button_to 'new event category', new_admin_eventcategory_path, :method => :get
