

.logos.row

  .small-8.small-offset-2.medium-offset-0.medium-3.columns
    = link_to image_tag(theme_image_path 'newmhlogo_footer.png'), '/', height: 131, width: 186
  .small-12.small-offset-0.medium-8.medium-offset-1.columns
    = link_to image_tag(theme_image_path('support/svensk.png'), height: 100, width: 75), 'http://www.kulturfonden.fi/', target: :_blank

    = link_to image_tag(theme_image_path('kone2020.png'), width: 388, height: 60), 'http://www.koneensaatio.fi', target: :_blank
    = link_to image_tag(theme_image_path('support/helsinki.png'), height: 100, width: 185 ), 'http://www.hel.fi/hki/Kulke/fi/Etusivu', target: :_blank
    -#= link_to image_tag(theme_image_path 'support/lippu.png'), 'http://www.lippu.fi/mad-house-helsinki-2-kausi-kausikortti-Lippuja.html?affiliate=ADV&doc=artistPages%2Ftickets&fun=artist&action=tickets&erid=1426408&kuid=503751', target: :_blank
    -#= link_to image_tag(theme_image_path 'support/kknord.jpg'), 'https://www.nordiskkulturkontakt.org', target: :_blank
    -#= link_to image_tag(theme_image_path 'support/juuri.png'), 'http://juuritapahtumat.fi/', target: :_blank
    = link_to image_tag(theme_image_path('support/msonic-logo-negative.png'), width: 160), 'https://msonic.fi/', target: :_blank
    = link_to image_tag(theme_image_path('support/taike.png'), width: 400, height: 72 ), 'https://www.taike.fi/', target: :_blank
    = link_to image_tag(theme_image_path('support/skr.png'), width: 92, height:90 ), 'https://www.skr.fi/', target: :_blank
    = link_to image_tag(theme_image_path('support/KDC.png'), width: 90), 'https://kyrodistillery.com/', target: :_blank
    = link_to image_tag(theme_image_path('support/fat_lizard.png'), width: 100), 'https://www.fatlizard.beer/', target: :_blank