
        
.logos.row
  .small-12.text-center.columns
    = link_to image_tag(theme_image_path 'support/svensk.png'), 'http://www.kulturfonden.fi/', target: :_blank
    = link_to image_tag(theme_image_path 'support/helsinki.png'), 'http://www.hel.fi/hki/Kulke/fi/Etusivu', target: :_blank
    = link_to image_tag(theme_image_path 'support/kone.jpg'), 'http://http//www.koneensaatio.fi', target: :_blank
    = link_to image_tag(theme_image_path 'support/lippu.png'), 'http://www.lippu.fi/mad-house-helsinki-2-kausi-kausikortti-Lippuja.html?affiliate=ADV&doc=artistPages%2Ftickets&fun=artist&action=tickets&erid=1426408&kuid=503751', target: :_blank
  .small-12.text-center.columns
    = link_to image_tag(theme_image_path 'support/konstsamfundet.png'), 'http://konstsamfundet.fi/', target: :_blank
    = link_to image_tag(theme_image_path 'support/goethe.png'), 'https://www.goethe.de/ins/fi/fi/index.html', target: :_blank
    = link_to image_tag(theme_image_path 'support/tresmeder.png'), 'http://tresmeder.fi/', target: :_blank        