%ul.menu.outer.expanded
  %li
    %ul.vertical.medium-horizontal.menu{:"data-responsive-menu" => "drilldown medium-dropdown"}
      %li.has-submenu
        = link_to t(:events), events_path
        %ul.submenu.menu.vertical#contact{"data-submenu" => "", :'data-alignment' => "left"}
          -# %li= link_to t("madhouse.mad_bar"), '/madbar'
          %li= link_to t("madhouse.workshops"), '/workshops'
          %li= link_to t("madhouse.archive"), archives_events_path
  -# %a{:"data-dropdown" => :eventdrop, :"aria-controls" => :eventdrop,:"data-options" => "is_hover:true; hover_timeout:5000", :"aria-expanded" => "true", href: events_path}= t(:events)
  -#  %ul#eventdrop.f-dropdown{:"data-dropdown-content" => '', :"aria-hidden" => "true"}
  -#    %li= link_to t("madhouse.ihana_bar"), '/ihana'
  %li= link_to t(:news), posts_path
  %li= link_to t("madhouse.tickets"), page_path('Tickets')
  %li
    %ul.vertical.medium-horizontal.nested.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
      %li.has-submenu
        = link_to 'Mad House', page_path('what-is-mad-house')
        %ul.submenu.menu.vertical#accessibility{"data-submenu" => ""}
          %li= link_to t("madhouse.accessibility"), page_path('accessibility')
  %li
    %ul.vertical.medium-horizontal.nested.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
      %li.has-submenu
        = link_to t("madhouse.contact"), page_path('contact')
        %ul.submenu.menu.vertical#contact{"data-submenu" => ""}
          %li= link_to t("madhouse.press"), page_path('press')
      
