!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = display_meta_tags :site => 'Mad House Helsinki'
    = stylesheet_link_tag    'madhouse/stylesheets/application', media: 'screen'
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'madhouse/javascripts/application', 'data-turbolinks-track' => true 
    
    = csrf_meta_tags
    -#%link{:href => "/posts.rss", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}/

  %body
    %header
      .title.text-center
        =  retina_image_tag theme_image_path('madhousebanner.png')
      .icons.text-left
        = link_to fa_icon("twitter"), 'http://www.twitter.com/madhousehel'
        = link_to fa_icon("facebook"), '#'
      
      .languages.end.text-right
        EN
        |
        FI
        |
        SV
          
    = yield
  :javascript
    $(document).ready(function() { #{yield :jquery} 
    });