!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = display_meta_tags :site => 'Mad House Helsinki'
    = stylesheet_link_tag    'madhouse/stylesheets/staff', media: 'screen'
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'madhouse/javascripts/application', 'data-turbolinks-track' => false 
    = javascript_include_tag 'madhouse/javascripts/staff', 'data-turbolinks-track' => false 
    = csrf_meta_tags
    -#%link{:href => "/posts.rss", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}/

  %body
    %header 
      .row.expanded
        .small-3.columns.end
          = image_tag theme_image_path('top_banner.png')
          = link_to 'Sign out', destroy_user_session_path, method: :delete
      .top-bar
        .top-bar-left
          %ul.horizontal.menu
            %li
              = link_to admin_events_path, class: :item do
                = image_tag theme_image_path('/icons/event_icon.png')
                %label Events
       
            %li
              = link_to admin_flickers_path, class: :item  do
                = image_tag theme_image_path('/icons/archive_icon.jpg')
                %label Archival images
     
            %li
              = link_to admin_posts_path, class: :item  do
                = image_tag theme_image_path('/icons/post_icon.png')
                %label Blog posts

            %li
              = link_to admin_pages_path, class: :item  do
                = image_tag theme_image_path('/icons/page_icon.png')
                %label Static pages

            %li
              = link_to admin_places_path, class: :item  do
                = image_tag theme_image_path('/icons/place_icon.jpg')
                %label Places

            %li
              = link_to admin_resources_path, class: :item  do
                = image_tag theme_image_path('/icons/document_icon.png')
                %label Documents          
    = yield
  :javascript
    $(document).ready(function() { #{yield :jquery} 
    });