!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = display_meta_tags :site => 'Mad House Helsinki'
    = stylesheet_link_tag    'madhouse/stylesheets/staff', media: 'screen'
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'madhouse/javascripts/application', 'data-turbolinks-track' => false 
    = javascript_include_tag 'madhouse/javascripts/staff', 'data-turbolinks-track' => false 
    = csrf_meta_tags
    -#%link{:href => "/posts.rss", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}/

  %body
    %header 
      .row
        .small-3.columns.end
          = image_tag theme_image_path('top_banner.png')

      .icon-bar
        = link_to admin_events_path do
          = image_tag theme_image_path('/icons/event_icon.png')
          %label Events
    = yield
  :javascript
    $(document).ready(function() { #{yield :jquery} 
    });