= render :partial => 'shared/new_carousel', :locals => {:new_carousel => @new_carousel}

.front_main_container.clearfix
  .blog.clearfix
    .headline
      %h2= t :latest
    .posts
      - @posts.each do |post|
        .front_single.clearfix
          .blog_title= link_to post.title, post
          .post_metadata
            - if post.is_personal == true
              = "posted by #{post.user.email.gsub(/\@.+$/, '')} on #{l(post.created_at, :format => :long)}"
            - else
              = "posted by Ptarmigan on #{l(post.created_at, :format => :long)}"
          .blog_body= raw post.body
  .sidebar.clearfix

    - unless @upcoming.empty?
      .headline
        %h2= t :upcoming
      = render :partial => 'shared/next_events', :locals => {:next_events => @upcoming }
    - if @upcoming.empty?
      .front_box
        .headline
          %h2= t :search
        = form_tag "/search/simple", :method => "post" do |f|
          = text_field_tag :search
          = submit_tag t :search

    .headline
      %h2= t :about
    = raw @where.excerpt
    = render :partial => 'shared/email_signup'

