.large-5.columns.left_header_title
  .top_line
    = t("ct.events")
    %span.demi= t("ct.calendar")
  .bottom_line
    %span.ital= t("ct.for")
    %span.demi= t("ct.culture")
    %span.ital= t("ct.lovers")
    
.large-3.columns.mini_calendar
  #minicalendar

.large-4.columns.filtering_engine
  .title
    = t("ct.filtering")
    %span.ital= t("ct.engine")
  .filter_menu
    .row.expanded
      .small-12.columns
        %ul.categories.menu.vertical.dropdown{:"data-dropdown-menu" => ''}
          %li.blue
            = link_to t("ct.creative_territories"), '#'
            %ul#creative_territories.menu
              - Place.creativeterritories.creative_quarters.order(:name).each do |place|
                %li= link_to place.name, '#'
          %li.green
            = link_to t("ct.other_venues"), '#'
            %ul#other_venues.menu
          %li
            = link_to t("ct.disciplines"), '#'
            %ul#disciplines.vertical.menu
              - Eventcategory.all.order(:name).each do |cat|
                %li= link_to cat.name, '#'
          %li
            = link_to t("ct.culture_map"), '#'
          %li
            = link_to t("ct.festivals"), '#'
            %ul#festivals.menu
          %li= t("ct.more_cities")
          %li= t("ct.about_site")
        
       