.large-5.columns.left_header_title
  .top_line
    = t "ct.events"
    %span.demi= t "ct.calendar"
  .bottom_line
    %span.ital= t "ct.for"
    %span.demi= t "ct.culture"
    %span.ital= t "ct.lovers"
    
.large-3.columns.mini_calendar
  (calendar)

.large-4.columns.filtering_engine
  .title
    = t "ct.filtering"
    %span.ital= t "ct.engine"