.large-6.columns.left_header_title.medium-9.small-6
  .top_line
    %span>= t("ct.events")
    %span.demi>= t("ct.calendar")
    .english
      - if I18n.locale.to_s != 'en'
        = link_to 'EN', '/?locale=en'
      - else
        %span.active EN
      
  .bottom_line
    %span.ital>= t("ct.for")
    %span.demi>= t("ct.culture")
    %span.ital>= t("ct.lovers")
    .latvian
      - if I18n.locale.to_s != 'lv'
        = link_to 'LV', '/?locale=lv'
      - else
        %span.active LV
      
.large-2.columns.mini_calendar.text-center.large-offset-1.small-6.medium-3
  #minicalendar

.large-3.columns.filtering_engine{style: 'display: none;'}
  .title
    %span>= t("ct.filtering")
    %span.ital>= t("ct.engine")
  .filter_menu
    .row.expanded
      .small-12.columns
        %ul.categories.menu.vertical.dropdown{:"data-dropdown-menu" => ''}
          %li.blue
            = link_to t("ct.creative_territories"), '#'
            %ul#creative_territories.menu
              - Place.creativeterritories.creative_quarters.order(:name).each do |place|
                %li= link_to place.name, '#'
          %li.green
            = link_to t("ct.other_venues"), '#'
            %ul#other_venues.menu
          %li
            = link_to t("ct.disciplines"), '#'
            %ul#disciplines.vertical.menu
              - Eventcategory.all.order(:name).each do |cat|
                %li= link_to cat.name, '#', :'data-state' => :initial, :'data-ct-filter' => cat.id
          %li
            = link_to t("ct.culture_map"), '#', onClick: 'javascript:displayMap();'
          -#%li
          -#  = link_to t("ct.festivals"), '#'
          -#  %ul#festivals.menu
          %li= t("ct.more_cities")
          %li= link_to t("ct.about_site"), page_path('about')
        
-# weird absolute-positioned box ads
- unless @boxy_ads.nil?
  .boxy_wrapper
    - @boxy_ads.each do |boxad|
      .box= link_to image_tag(boxad.boxy.url), boxad.link_url, target: :_blank
