%h4 Menu
%ul
  %li= link_to 'Latest', admin_reports_path

  %li= link_to 'Sign out', '/users/sign_out'    

  - if can? :edit, Event
    %li= link_to 'Events: Create', new_admin_event_path
    %li= link_to 'Events: List/edit all', admin_events_path
  - if can? :edit, Eventcategory
    %li= link_to 'Event categories', admin_eventcategories_path
  - if can? :edit, Page
    %li= link_to 'Static pages', admin_pages_path
  %li= link_to('Your profile', edit_user_path(current_user))
  - if can? :edit, Place
    %li= link_to_unless current_user.is_guest?,  'Locations/places', admin_places_path



