!!! 5
%html
  %head
    = display_meta_tags :site => "CreativeTerritories", :og => {:url => 'http://creativeterritories.lv', :title => '17/02/2015'}
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/assets/creativeterritories/images/favicon.ico" }
    %link{ :rel => "alternate", :type => "application/rss+xml", :title => "Ptarmigan RSS", :href => "/feed.rss"}
    //= stylesheet_link_tag :application
    = stylesheet_link_tag 'creativeterritories/stylesheets/application', :media => :screen
    = javascript_include_tag :application
    = javascript_include_tag 'creativeterritories/javascripts/application'
    
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAFlkw7SUgPOTDy8XkWVo_kszw20I22d4g", :type => "text/javascript"}

    = csrf_meta_tag

    
    %script{:type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22734809-3']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      var switchTo5x=true;
    -#%script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js"}
    -#%link{:href => 'http://fonts.googleapis.com/css?family=Arimo:400,700|Raleway:400,900&subset=latin,latin-ext', :rel => :stylesheet, :type => 'text/css'}
    -#%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/

    

    %meta{ :content => "1 day", :name => "revisit-after" }

  %body{style: !@calendar_background.nil? ? "background-image: url(#{@calendar_background.image.url(:large)});" : false}
    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1472879426262623&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %header
      .row.expanded= render partial: 'layouts/header'

      .row.expanded.cities_header
        .large-9.columns= render partial: 'layouts/cities_header'
    %section#map
    %section#main= yield

    %footer
              


            

:javascript
  $(document).ready(function() {
    $("#sticky-menu").sticky({ topSpacing: 0 });

    $('#minicalendar').fullCalendar({
      height: 170,
      locale: '#{I18n.locale.to_s}',
      firstDay: 1,
      customButtons: {
        prev: {
            text: '◀'
        },
        next: {
          text: '►'
        }
      },
      header: {
        left: 'prev',
        right: 'title',
        center: 'next'
      },
      fixedWeekCount: false,
      titleFormat: "YYYY MMMM",
      eventAfterAllRender: function() {
        $('#minicalendar td.fc-day-top').css('background', 'transparent');
        $('#minicalendar .fc-content-skeleton tr').click(function() {
          $('#calendar').fullCalendar('gotoDate', $(this).find('td').eq(0).attr('data-date'));
        });
        $('#calendar td.fc-day').each(function() {
          $('#minicalendar td.fc-day-top[data-date=' + $(this).attr('data-date') + ']').css('background-color', 'white');
        });
        
        // $('#minicalendar td.fc-day-top.fc-today').siblings().css('background-color', 'white');
      }
      
    });
    $('#minicalendar .fc-next-button').click(function(){
        $('#minicalendar').fullCalendar('next');
    });
    $('#minicalendar .fc-prev-button').click(function() {
      $('#minicalendar').fullCalendar('prev');
    });

    #{yield :jquery}
  });    
