!!! 5
%html
  %head
    = display_meta_tags :site => t("ct.site_title"), :og => {:url => 'http://culturemap.lv' }
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/assets/creativeterritories/images/favicon.ico" }
    %link{ :rel => "alternate", :type => "application/rss+xml", :title => "Ptarmigan RSS", :href => "/feed.rss"}
    //= stylesheet_link_tag :application
    = stylesheet_link_tag 'creativeterritories/stylesheets/application', :media => :screen
    = javascript_include_tag :application
    = javascript_include_tag 'creativeterritories/javascripts/application'
    
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAFlkw7SUgPOTDy8XkWVo_kszw20I22d4g", :type => "text/javascript"}

    = csrf_meta_tag

    
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-87441927-1', 'auto');
      ga('send', 'pageview');
    

    %meta{ :content => "1 day", :name => "revisit-after" }

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1472879426262623&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %header
      .row.expanded= render partial: 'layouts/header'

      .row.expanded.cities_header
        .large-9.columns= render partial: 'layouts/cities_header'
    %section#map          
    %section#main
      - unless @wide_ad.nil?
        .wide_wrapper
          = link_to image_tag(@wide_ad.wide.url), @wide_ad.link_url, target: :_blank
      = yield

    %footer
              


            

:javascript
  $(document).ready(function() {
    $("#sticky-menu").sticky({ topSpacing: 0 });

    $('#minicalendar').fullCalendar({
      contentHeight: 110,
      locale: '#{I18n.locale.to_s}',
      firstDay: 1,
      customButtons: {
        prev: {
            text: '◀'
        },
        next: {
          text: '►'
        }
      },
      header: {
        left: 'prev',
        right: 'title',
        center: 'next'
      },
      fixedWeekCount: false,
      titleFormat: "YYYY MMMM",
      eventAfterAllRender: function() {
        // $('#minicalendar .fc-scroller').css('height', 'initial');
        $('#minicalendar td.fc-day-top').css('background', 'transparent');
        $('#minicalendar .fc-content-skeleton tr').click(function() {
          $('#calendar').fullCalendar('gotoDate', $(this).find('td').eq(0).attr('data-date'));
        });
        $('#calendar td.fc-day').each(function() {
          $('#minicalendar td.fc-day-top[data-date=' + $(this).attr('data-date') + ']').css('background-color', 'white');
        });
        
        // $('#minicalendar td.fc-day-top.fc-today').siblings().css('background-color', 'white');
      }
      
    });
    $('#minicalendar .fc-next-button').click(function(){
        $('#minicalendar').fullCalendar('next');
    });
    $('#minicalendar .fc-prev-button').click(function() {
      $('#minicalendar').fullCalendar('prev');
    });

    #{yield :jquery}
  });    
