!!! 5
%html
  %head
    = display_meta_tags :site => "CreativeTerritories", :og => {:url => 'http://creativeterritories.lv', :title => '17/02/2015'}
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/assets/creativeterritories/images/favicon.ico" }
    %link{ :rel => "alternate", :type => "application/rss+xml", :title => "Ptarmigan RSS", :href => "/feed.rss"}
    //= stylesheet_link_tag :application
    = stylesheet_link_tag theme_stylesheet_path(:application), :media => :screen
    = javascript_include_tag :application
    = javascript_include_tag theme_javascript_path(:application)
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAFlkw7SUgPOTDy8XkWVo_kszw20I22d4g&sensor=false", :type => "text/javascript"}

    = csrf_meta_tag

    %script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js"}
    %script{:type => "text/javascript"} stLight.options({publisher: "ur-dae0667d-47dc-d390-f0b1-129d17517bbe"});
    %script{:type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22734809-3']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      var switchTo5x=true;
    %script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Arimo:400,700|Raleway:400,900&subset=latin,latin-ext', :rel => :stylesheet, :type => 'text/css'}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/

    

    %meta{ :content => "1 day", :name => "revisit-after" }

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1472879426262623&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %header

      .logo= link_to image_tag(current_theme_image_path("RKTA_logo_web.png")), '/'
      .title_container
        .event_list_title_box= link_to t("ct.events_list"), '/'
        .event_list_tagline= t("ct.events_tagline")
      .language_container
        %ul.language
          %li= link_to_unless I18n.locale == :en, 'ENG', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'
          %li= " | "
          %li= link_to_unless I18n.locale == :lv,  'LAT', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'lv'


    = yield

      


          
    %footer
      .footer_info
        .eight.columns.alpha
          %p
            CreativeTerritories* 
            &sdot;
            = link_to "info @ creativeterritories - lv", "mailto:info@creativeterritories(changetodot)lv"
            &sdot;
            = link_to t(:about), page_path('about-creative-territories')
        .six.columns.alpha
          .logos
            %ul
              %li{style: "max-width: 35%"}= link_to image_tag(current_theme_image_path("rkta_small.png")), page_path('about-creative-territories')
              %li= link_to image_tag(current_theme_image_path("freeriga.png")), 'http://freeriga.lv', target: :_blank
              %li= link_to image_tag(current_theme_image_path("GitHub-Mark-64px.png"), height: 55), 'https://github.com/cenotaph/ptarmigan'


            

:javascript
  $(document).ready(function() {
    $("#sticky-menu").sticky({ topSpacing: 0 });
    #{yield :jquery}
  });    
