!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title= "CreativeTerritories staff: #{controller.class.to_s.gsub(/^Admin\:\:/, '').gsub(/Controller/, '')}"
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }

    -# = stylesheet_link_tag current_theme_stylesheet_path('ptarmigan'), :media => :screen
    = stylesheet_link_tag 'creativeterritories/stylesheets/application', :media => :screen
    = stylesheet_link_tag 'print', :media => :print
    -#= stylesheet_link_tag :cms, :media => :screen
    = stylesheet_link_tag 'creativeterritories/stylesheets/staff', :media => :screen
    = stylesheet_link_tag  :application, :media => "all"
    = javascript_include_tag :application
    = javascript_include_tag 'creativeterritories/javascripts/staff', 'data-turbolinks-track' => false 
    -# = javascript_include_tag 'jquery-datepicker', 'jquery-ui', 'jquery.purr', 'best_in_place'
    -# = javascript_include_tag 'date'
    -# = stylesheet_link_tag 'datePicker', 'jquery-ui-1.8.9.custom'
    -#= javascript_include_tag :ckeditor
    = csrf_meta_tag 
  %body
    #admin_top_column.clearfix
      #nav= render :partial => 'layouts/staffsidebar.en'

    #dynamic{:class => 'staff_' + @location.name.downcase}


      .container
        .three.columns.alpha#staff_menu

        .thirteen.columns.omega
          .headline
            #flash
              - unless flash.empty?
                = content_tag :div, flash[:notice],  :class => "notice"  if flash[:notice]
                = content_tag :div, flash[:warning], :class => "warning" if flash[:warning]
                = content_tag :div, flash[:error],   :class => "error"   if flash[:error]

    = yield

 
    #footer
    :javascript
      $(document).ready(function() {  
        #{yield :jquery}
        

      });
      