= form_for(event) do |f|
  = f.error_messages
  %p
    = f.label :date
    %br
    = f.date_select :date
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :promoter
    %br
    = f.text_field :promoter
  %p
    = f.label :event_type
    %br
    = f.text_field :event_type
  %p
    = f.label :description_fi
    %br
    = f.text_area :description_fi
  %p
    = f.label :description_en
    %br
    = f.text_area :description_en
  %p
    = f.label :cost
    %br
    = f.text_field :cost
  %p
    = f.label :metadata_fi
    %br
    = f.text_area :metadata_fi
  %p
    = f.label :metadata_en
    %br
    = f.text_area :metadata_en
  %p
    = f.label :avatar_file_name
    %br
    = f.text_field :avatar_file_name
  %p
    = f.label :avatar_content_type
    %br
    = f.text_field :avatar_content_type
  %p
    = f.label :avatar_file_size
    %br
    = f.text_field :avatar_file_size
  %p
    = f.label :avatar_updated_at
    %br
    = f.datetime_select :avatar_updated_at
  %p
    = f.submit "Submit"