


- unless @upcoming.nil?
  .events
    .headline.clearfix
      %h2= t :coming_up
      = paginate(@upcoming)
    %p
      %b= t(:googlecalendar) + ': '
      = link_to('(xml) ',   'http://www.google.com/calendar/feeds/7rkvdo1n6irtviq6va9f96k5l0%40group.calendar.google.com/public/basic')
      = link_to('(ical) ', 'http://www.google.com/calendar/ical/7rkvdo1n6irtviq6va9f96k5l0%40group.calendar.google.com/public/basic.ics')
      = link_to('(html)', 'http://www.google.com/calendar/embed?src=7rkvdo1n6irtviq6va9f96k5l0%40group.calendar.google.com&ctz=Europe/Helsinki')
    - if @upcoming.empty?
      = t :noevents
    - else
      = render :partial => "event", :collection => @upcoming 
      .clearfix{:style => (@archive.empty? ? false : 'margin-bottom: 145px;')}= paginate(@upcoming)


- if @archive.empty?
  .events{:style => "clear: both;"}
    .headline
      %h2= link_to "#{t(:event)} #{t(:archive)} ...", '/events/archives'
- else
  .events
    .headline.clearfix
      %h2
        = t :archive
        = " / #{t(:past)}"
      = paginate @archive, :params => {:controller => 'events', :action => 'archives'}, :param_name => :archive_page
    = render :partial => "event", :collection => @archive
    .clearfix= paginate @archive, :params => {:controller => 'events', :action => 'archives'}, :param_name => :archive_page
