- form_for(page) do |f|
  = f.error_messages
  %p
    = f.label :title_en
    %br
    = f.text_field :title_en
  %p
    = f.label :title_fi
    %br
    = f.text_field :title_fi
  %p
    = f.label :body_en
    %br
    = f.text_area :body_en
  %p
    = f.label :body_fi
    %br
    = f.text_area :body_fi
  %p
    = f.label :slug
    %br
    = f.text_field :slug
  %p
    = f.submit "Submit"