= form.inputs do
  .six.columns.alpha
    = form.input :name, :label => 'Name', :hint => 'name of the item'
    = form.input :description, :label => 'Description'
    = form.input :press_page, :label => 'Put on main Ptarmigan "about" page', :hint => "Choose if not specific to an event"
    = form.input :location_id, :as => :select, :collection => Location.all
    = form.input :all_locations, :hint => "Show on press page for both Eesti and Suomi"
  .six.columns.omega
    = form.input :documenttype, :label => 'Type of document'
    = form.input :sortorder, :hint => "Optional - sort order resources appear on an event, press, etc page. Enter a number, sort will be numeric ascending"
    = form.input :project, :label => 'Project'
    = form.input :artist, :label => 'Artist'
    = form.input :event, :label => 'Event'
    - if @resource.icon?
      .existing-image= image_tag @resource.icon.url(:thumb)
    = form.input :icon, :hint => 'An image that will display on the site for this file'
    = form.input :attachment, :hint => 'The file itself'
