%tr[resource]
  %td{:class => (resource.location.blank? ? false : resource.location.name.downcase)}
    = link_to resource.try(:name), edit_admin_resource_path(resource), :target => :_blank
    - unless resource.event.blank? && resource.artist.blank? && resource.project.blank?
      .under
        - if resource.event
          %span.small
            &sdot;
            = link_to resource.event.name, resource.event, :target => :_blank
        - if resource.artist
          %span.small
            &sdot;
            = link_to resource.artist.name, resource.artist, :target => :_blank        
        - if resource.project
          %span.small
            &sdot;
            = link_to resource.project.name, resource.project, :target => :_blank
    %br/
    URL:
    %b= resource.attachment.url.gsub(/\?\d+/, '')
  %td.actions
    %span.smaller_text= link_to 'Edit details', edit_admin_resource_path(resource), class: [:button, :tiny, :aler]
    
    %span.delete= link_to 'Delete', [:admin, resource], data: {:confirm => 'Are you sure?'}, :method => :delete, class: [:button, :tiny, :alert]