- if !@posts.empty?
  %h3= t :news
  = paginate @posts
  = render :partial => "post", :collection => @posts
  .bottom_pagination= paginate @posts
- else
  %p= t(:no_posts)
= content_for :sidebar do
  = render :partial => 'shared/sidebar_from_posts', :locals => {:current_post => nil}