.event_registration.page
  .container
    .sixteen.columns
      %h1 Kompass is over!
    .sixteen.columns
      %p Kompass took place in August 2014 and this website serves as an archive of the event.
    /   %h2= t "kompass.register_to_attend"
    / .ten.columns
    /   %p= t "kompass.registration_cost"
    / .sixteen.columns
    /   .registration_form
    /     %div{:id => "form_container_#{@event.id.to_s}"}
    /       %div{:id => "reg_form_#{@event.id.to_s}"}
    /         - if @event.registration_limit
    /           - if @event.hide_registrants == true
    /             - blurb = 'This event requires advance registration.'
    /           - else
    /             - blurb = "This event is limited to #{@event.registration_limit} participants, with currently  #{pluralize((@event.registration_limit - @event.attendees.size.to_i), 'space')} free."
    /         - if blurb
    /           .blurb= blurb
    /         = form_for @attendee = Attendee.new, :html => {:id => "new_attendee_#{@event.id.to_s}"}, :update => "reg_form_#{@event.id.to_s}", :remote => true do |form|
    /           %p
    /             %label= t :your_name
    /             = form.text_field :name
    /           %p
    /             %label= t "kompass.project_or_organisation"
    /             = form.text_field :project_or_organisation
    /           %p
    /             %label= t "kompass.where_are_you_from"
    /             = form.text_field :comes_from
    /           %p
    /             %label= t "kompass.url"
    /             = form.text_field :work_in_progress_title
    /           %p
    /             %label= t :your_email
    /             = form.text_field :email
    /             - if @event.is_full?
    /               = form.hidden_field :waiting_list, :value => 1
    /           %p
    /             %label= t :your_phone
    /             = form.text_field :phone
    /             = form.hidden_field :event_id, :value => @event.id.to_s
    /           - unless @event.registration_optional_q.blank?
    /             %p
    /               %label= @event.registration_optional_q
    /               = form.text_area :optional, :rows => 4
    /           %p
    /             %label= t "kompass.bio"
    /             = form.text_area :bio, :rows => 6
    /           %p
    /             %label= t "kompass.profile_photo"
    /             = form.file_field :profile
    /           %p
    /             %label= t :extra_info_or_qs
    /             = form.text_area :comments, :rows => 4
    /           %p
    /             %label= t :verify_you_are_human
    /             = recaptcha_tags(:ajax => true, :display => {:theme => 'white', :tabindex => 10})
    /
    /           .clearfix
    /             %label &nbsp;
    /             %div{:id => "attendee_submit_" + @event.id.to_s}= form.submit  t "kompass.register"
    /
    /           .clearfix
    /             %label &nbsp;
    /             %div{:id => "loading_#{@event.id.to_s}", :style => 'display: none'}= image_tag('ajax-loader.gif')
    /         :javascript
    /           $('#attendee_submit_#{@event.id.to_s} input').click(function() {
    /             $("ul#errors_#{@event.id.to_s}").html('');
    /             $("#loading_#{@event.id.to_s}").toggle();
    /             $("#attendee_submit_#{@event.id.to_s}").attr('disabled', 'disabled');
    /             $("#attendee_submit_#{@event.id.to_s}").fadeOut();
    /             // $("#new_attendee_#{@event.id.to_s}").submit();
    /           });
    /
    /