
= semantic_form_for([:admin,  post],  :html => {:multipart => true } ) do |f|
  .twelve.columns
    .six.columns.alpha
      = f.input :location
      = f.input :user_id, :as => :hidden, :value => current_user.id
      = f.input :is_personal, :label => "Post as " + current_user.email.gsub(/\@.+$/, '') + " instead of Ptarmigan"
      = f.input :not_news, :label => "Include in 'stuff we like' section, not frontpage news"
    .six.columns.omega
      = f.input :subsite, :label => 'Assign to sub-site', :hint => 'will appear in content of subdomain'
      = f.input :show_on_main, :label => 'Also show on main site', :hint => 'Will appear in subdomain but also in main Ptarmigan news on regular site'
  .twelve.columns
    = tabs_for do |tab|
      - tab.create('english', 'English') do
        = f.globalize_fields_for :en do |en|
          %p
            Title of post
            = en.text_field :title
          %p
            Body
            %br/
            = en.cktext_area :body
      - tab.create('finnish', 'Finnish') do
        = f.globalize_fields_for :fi do |fi|
          %p
            Title of post
            = fi.text_field :title
          %p
            Body
            %br/
            = fi.cktext_area :body
      - tab.create('estonian', 'Estonian') do
        = f.globalize_fields_for :et do |et|
          %p
            Title of post
            = et.text_field :title
          %p
            Body
            %br/
            = et.cktext_area :body         
      - tab.create('russian', 'Russian') do
        = f.globalize_fields_for :ru do |ru|
          %p
            Title of post
            = ru.text_field :title
          %p
            Body
            %br/
            = ru.cktext_area :body
  .twelve.columns
    .six.columns.alpha
      - unless f.object.new_record?
        - if f.object.carousel?
          = image_tag f.object.carousel.url(:full)
          = f.check_box :remove_carousel
          Delete carousel image          
      = f.input :carousel, :label => "Carousel image (1180x492)", :hint => "will appear in frontpage carousel if exists"
      = f.input :hide_carousel, :label => "Remove from carousel (if it's old)"
    .six.columns.omega
      = f.input :embed_gallery_id, :as => :select, :collection => Event.where(:id => [Flicker.all.map(&:event_id).uniq]).sort_by{|x| x.date}.reverse, :hint => "If archival images exist for an event, embed the gallery in this post"
      = f.input :second_embed_gallery_id, :as => :select, :collection => Event.where(:id => [Flicker.all.map(&:event_id).uniq]).sort_by{|x| x.date}.reverse, :hint => "Optional second gallery - will be combined with first gallery as one slideshow"      
      = f.input :embed_above_post, :label => "Gallery above post?", :hint => "if an event archive photo gallery is embedded and this is checked, the gallery will appear above the post body, otherwise it will appear below"
      = f.input :published, :label => "Publish on site!", :hint => "leave unchecked for draft mode"
  = f.actions do
    = f.submit "Submit"

:javascript
  $(function() {
    $("#tabs").tabs();
  });