%h2 News/blog posts
%p click a title to edit.
= button_to 'Create new post', new_admin_post_path, :method => :get

.projects
  %table
    %thead
      %th Title
      %th Published?
      %th News?
      %th in carousel?
      %th
    %tbody
      - @posts.sort_by(&:created_at).reverse.each do |post|
        %tr.cms_item
          %td{:class => post.location.name.downcase}
            = link_to post.title, edit_admin_post_path(post)
            %span.smaller_font= l post.created_at.to_date, :format => :long
          %td= post.published? ? 'yes' : 'no'
          %td= post.not_news ? 'no' : 'yes'
          %td= post.carousel? ? 'yes' : 'no'
          %td
            %span.delete.smaller_font= link_to '[delete]' , [:admin, post], :method => :delete, :confirm => "are you sure?"

%p= button_to 'Create a new post', new_admin_post_path, :method => :get