= semantic_form_for([:admin, @place]) do |f|
  .row.expanded
    .small-12.medium-6.columns
      .row.expanded
        .small-12.columns
          = tabs_for do |tab|
            - tab.create('english', 'English') do
              = f.globalize_fields_for :en do |en|
                Name in English:
                = en.text_field :name
            - tab.create('latvian', 'Latvian') do
              = f.globalize_fields_for :lv do |lv| 
                Name in Latvian:
                = lv.text_field :name
          .row.expanded
      .row.expanded
        .small-12.medium-5.columns= f.input :address1
      .row.expanded
        .small-12.medium-5.columns= f.input :address2
      .row.expanded
        .small-12.medium-5.columns= f.input :city, input_html: {value: 'Rīga'}
      .row.expanded
        .small-12.medium-5.columns= f.input :country, input_html: {value: 'LV'}
      .row.expanded
        .small-12.medium-5.columns= f.input :postcode
    .small-12.medium-6.columns
      .row.expanded.expanded
        .small-12.medium-5.columns
          %p If you leave latitude and longitude blank, the system should be able to figure it out automatically.
      .row.expanded.expanded
        .small-12.medium-5.columns
          = f.input :latitude
          = f.input :longitude
      .row.expanded.expanded
        .small-12.medium-5.columns
          = f.input :creative_quarters, as: :boolean, label: 'This entry is a "Creative Quarter"'
          - unless f.object.creative_quarters == true
            = f.input :parent, as: :select, collection: Place.creative_quarters.order(:name), label: 'Part of a Creative Quarter?'
          
          = f.input :allow_ptarmigan_events, as: :hidden, value: 1
      .row.expanded.expanded
        .small-12.medium-5.columns
          = f.submit 'save', class: [:button]

= content_for :jquery do
  :plain
    $("#tabs").tabs();          