.row
  .small-12.columns
    %h2 News/blog posts
    %p click a title to edit.
    = link_to 'Create new post', new_admin_post_path, class: [:button]

.row
  .small-12.columns
    %table
      %thead
        %th Title
        %th Published?
        %th News?
        %th in carousel?
        %th
      %tbody
        - @posts.each do |post|
          %tr.cms_item
            %td{:class => post.location.name.downcase}
              = link_to post.title, edit_admin_post_path(post)
              
            %td
              = post.published? ? 'yes' : 'no'
              %br/
              - unless post.published_at.blank?
                %small= l post.published_at, :format => :long
            %td= post.not_news ? 'no' : 'yes'
            %td= post.carousel? && post.hide_carousel != true  ? 'yes' : 'no'
            %td
              - if can? :edit, post
                = link_to 'Edit',  edit_admin_post_path(post), class: [:button, :tiny]
              - if can? :destroy, post
                = link_to 'Delete' , [:admin, post], :method => :delete, data: { confirm:  "are you sure?"}, class: [:button, :tiny, :alert]
.row
  .small-12.columns
    = paginate @posts
    %p= link_to 'Create new post', new_admin_post_path, class: [:button]