.event_front_single.clearfix
  .blog_title= link_to post.title, post
  .post_metadata
    - if post.is_personal == true
      = "posted by #{post.user.email.gsub(/\@.+$/, '')} on #{l(post.created_at, :format => :long)}"
    - else
      = "posted by Ptarmigan on #{l(post.created_at, :format => :long)}"
  - if post.carousel?
    .blog_image= image_tag post.carousel.url(:new_carousel)
  - unless post.embedded_images.empty?
    - if post.embed_above_post == true
      .blog_image= render :partial => 'shared/photo_gallery', :locals => {:image_array => post.embedded_images }    
  .blog_body= raw post.body
  - unless post.embedded_images.blank?
    - if post.embed_above_post != true
      .blog_image= render :partial => 'shared/photo_gallery', :locals => {:image_array => post.embedded_images }
    .blog_callback
      = t(:see_more) + ":"
      = link_to Event.find(post.embed_gallery_id).name, Event.find(post.embed_gallery_id)      
  .share_this= share_this(post)
- if current_user
  %p= link_to '[edit this post]', edit_admin_post_path(post)