= form.inputs do
  = form.input :name, :label => 'Name'
  = form.input :email, :label => 'Email'
  = form.input :phone, :label => 'Phone'
  = form.input :pay_received, :label => 'Pay received'
  = form.input :event, :label => 'Event'
  = form.input :comments, :label => 'Comments'
