= content_tag_for(:tr, attendee, :class => cycle(:odd, :even)) do
  %td.name

    %p= h attendee.try(:name)
    %p= h attendee.try(:email)
    %p= h attendee.try(:phone)
    %p= attendee.pay_received.blank? ? '' : 'pay received'
    - if attendee.event.require_approval == true
      - if attendee.approved == true 
        %p
          %strong approved!
  %td.event
    %p= attendee.event.title_with_date
    - if attendee.event.require_approval == true
      %p
        %em requires approval!
  %td.comments
    - if attendee.profile?
      = image_tag attendee.profile.url(:thumb)
    = h attendee.try(:comments)
  %td.optional
    - if attendee.waiting_list == true
      %p
        %strong WAITING LIST!
    = h attendee.try(:optional)
  %td.actions
    = link_to 'Edit', edit_admin_attendee_path(attendee)
    |
    = link_to 'Destroy', [:admin, attendee], :confirm => 'Are you sure?', :method => :delete