= t "madhouse.share"
= link_to fa_icon('facebook'), "http://www.facebook.com/share.php?u=#{url}&amp;t=#{title}", target: :_blank, title: 'Facebook'
= link_to fa_icon('twitter'), "http://twitter.com/home?status=#{title}%20-%20#{url}" , target: :_blank, title: 'Twitter'
= link_to fa_icon('tumblr'), "http://www.tumblr.com/share?v=3&amp;u=#{url}&amp;t=#{title}&amp;s=#{url}", target: :_blank, title: 'Tumblr'
