!!! 5
%html
  %head
    = display_meta_tags :site => "Kimmo Modig: Cool stories | Ptarmigan", :og => {:url => 'http://kimmomodig.ptarmigan.ee', :title => 'Kimmo Modig: Tallinn stories'}
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %link{ :rel => "alternate", :type => "application/rss+xml", :title => "Ptarmigan RSS", :href => "/feed.rss"}
    = stylesheet_link_tag :application
    = stylesheet_link_tag 'kimmomodig/stylesheets/application', :media => :screen
    = javascript_include_tag :application
    = javascript_include_tag theme_javascript_path(:application)
    = csrf_meta_tag

    %script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js"}
    %script{:type => "text/javascript"} stLight.options({publisher: "ur-dae0667d-47dc-d390-f0b1-129d17517bbe"});
    %script{:type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12518395-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      var switchTo5x=true;
    %script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js"}
    %script{:type => "text/javascript"} stLight.options({publisher: "ur-dae0667d-47dc-d390-f0b1-129d17517bbe"});
    

    %meta{ :content => "1 day", :name => "revisit-after" }

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1472879426262623&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .container
      %header
        .sixteen.columns.alpha
          %h1= link_to  "Kimmo Modig: Cool stories", '/'

        .sixteen.columns.alpha
          %p Each one of these texts have been written in an hour. I haven't edited them after writing. This is how I express myself in 2014.
          
    .container
      .thirteen.columns.alpha= yield

      
      %aside
        .sidebar.three.columns.omega
          %p
            Kimmo Modig was artist-in-residence at Ptarmigan during May 2014. The
            = link_to "Axis of Praxis", project_path('eesti-axis-of-praxis')
            residency, in conjunction with 
            = link_to 'MoKS,', 'http://moks.ee'
            was supported by
            = link_to 'Kulturkontakt Nord.', 'http://kulturkontaktnord.org'
          %ul
            %li= link_to 'Kimmo Modig website', 'http://kimmomodig.com'
            %li= link_to 'Ptarmigan website', 'http://ptarmigan.ee'
            
    .container
      %footer
        .ptarmigan_footer
          MTÜ Ptarmigan | Toom-Kooli 13
          | 10130 Tallinn, Estonia 
          |
          = link_to 'GitHub', 'https://github.com/cenotaph/ptarmigan' 
:javascript
  $(document).ready(function() {
    #{yield :jquery}
  });    
