.flicker.clearfix

  - if flicker.image?
    .six.columns.alpha= image_tag flicker.image.url(:small)
    .six.columns.omega
      .event= flicker.event.title
      .date= l flicker.event.date, :format => :long
      .description= flicker.description
      .panorama
        Possible panorama for new front carousel:
        %div{:id => "ajax_#{flicker.id.to_s}"}
          - if flicker.include_in_carousel == true
            = link_to '[remove from carousel]', remove_carousel_admin_flicker_path(flicker), :class => :carousel_link, :remote => true
          - else
            = link_to '[add to front carousel]', set_carousel_admin_flicker_path(flicker), :class => :carousel_link, :remote => true

        :javascript
          $('.carousel_link').bind("ajax:success", function(evt, data, status, xhr) {
            alert(xhr.responseText);
          });  
        .image
          = image_tag flicker.image.url(:largest), :width => 425
          = link_to 'view in new tab', flicker.image.url(:largest), :target => :_blank
          (make sure it's not blurry if you are making it a carousel item)
      %ul.horizontal
        %li= link_to 'Edit', edit_admin_flicker_path(flicker)
        %li= link_to 'Destroy', [:admin, flicker], :confirm => 'Are you sure?', :method => :delete
        %li= link_to 'Back', admin_flickers_path
