%h2= @flicker.name
- info = flickr.photos.getInfo :photo_id => @flicker.hostid if @flicker.hostid

%div[@flicker]
  %ul
    %li
      %strong Event:
      =h @flicker.event.title
    %li
      %strong Creator:
      =h @flicker.creator
    - if @flicker.hostid
      = image_tag( FlickRaw.url(info) )
    - else
      = image_tag(@flicker.image.url(:standard))
    %li
      %strong Description:
      =h @flicker.description
%ul
  %li= link_to 'Edit', edit_admin_flicker_path(@flicker)
  %li= link_to 'Back', admin_flickers_path