.corner
  = image_tag theme_image_path('corner.png')
.bottom_corner
  = image_tag theme_image_path('bottom_corner.png')  
.map_overlay
  %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
    %span{"aria-hidden" => "true"}= raw "&times;"
  .text
    %h1= @instance.event.eventcategories.map(&:name).join(' / ')

    .date= date_range(@instance.start_at, @instance.end_at)
    .location
      - if @instance.place.blank?
        = link_to @instance.event.place.name , '#', onclick: "javascript:$('.reveal').foundation('close');displayMap(#{@event.place.id});"
      - else
         = link_to @instance.place.name, '#', onclick: "javascript:$('.reveal').foundation('close');;isplayMap(#{@event.place.id});"
    - unless @instance.event.promoter.blank?
      .promoter
        by
        = @instance.event.promoter

    - unless @instance.event.cost.blank?
      .cost
        = ptarmigan_cost(@instance.event.cost)
        - unless @instance.ticket_url.blank?
          = link_to t("ct.buy_tickets_here"), @instance.ticket_url
      
    .title= @instance.title.blank? ? @instance.event.title : @instance.title
    .description
      - unless @instance.special_information.blank?
        = @instance.special_information
      = raw  @instance.event.description
    %ul.icons 
      - unless @instance.event.otherweb.blank?
        
        %li
          = link_to @instance.event.otherweb, target: :_blank do
            = fa_icon 'external-link'
            = 'www'
        
      - unless @instance.event.facebook.blank?
        %li
          = link_to "https://www.facebook.com/events/#{@instance.event.facebook.to_s}", target: :_blank do
            = fa_icon 'facebook'
            = 'Facebook'
      - unless @instance.event.article_link.blank?
        %li= link_to t("ct.article"), @instance.event.article_link, target: :_blank
      - unless @instance.event.teaser.blank?
        %li= link_to t("ct.teaser"), @instance.event.teaser, target: :_blank
      - unless @instance.event.ticket_url.blank?
        %li= link_to t("ct.tickets"), @instance.event.ticket_url, target: :_blank  