!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title= "Ptarmigan staff: #{controller.class.to_s.gsub(/^Admin\:\:/, '').gsub(/Controller/, '')}"
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }

    = stylesheet_link_tag current_theme_stylesheet_path('ptarmigan'), :media => :screen
    = stylesheet_link_tag 'print', :media => :print
    = stylesheet_link_tag :cms, :media => :screen
    = stylesheet_link_tag  :application, :media => "all"
    = javascript_include_tag :application
    = javascript_include_tag :cms
    -# = javascript_include_tag 'jquery-datepicker', 'jquery-ui', 'jquery.purr', 'best_in_place'
    -# = javascript_include_tag 'date'
    -# = stylesheet_link_tag 'datePicker', 'jquery-ui-1.8.9.custom'
    -#= javascript_include_tag :ckeditor
    = csrf_meta_tag 
  %body
    #admin_top_column.clearfix
      #logo= link_to(image_tag(current_theme_image_path('/layout/ptarmigan.png'), :width => 300), '/')
      #nav
        .public
          %h4 Public site:
          = render :partial => 'layouts/sidebar'
        .small
          .one.column.alpha{:style=> 'float: left; '} Search: 
          .three.columns.omega
            = form_tag "/admin/reports/search", :method => "post" do |f|
              = text_field_tag :search
          
        -# - unless controller.controller_name == 'reports'
        -#   .active.clearfix
        -#     %h4 Active lately:
        -#     .active_projects= generate_active_cloud
    #dynamic{:class => 'staff_' + @location.name.downcase}


      .container
        .three.columns.alpha#staff_menu
          = render :partial => 'layouts/staffsidebar.en'
        .thirteen.columns.omega
          .headline
            #flash
              - unless flash.empty?
                = content_tag :div, flash[:notice],  :class => "notice"  if flash[:notice]
                = content_tag :div, flash[:warning], :class => "warning" if flash[:warning]
                = content_tag :div, flash[:error],   :class => "error"   if flash[:error]
              :javascript
                $('#flash').effect("highlight", {}, 3000);
          = yield
      :javascript
        $(document).ready(function() {  
          #{yield :jquery}
          $(".date-pick").datepicker({ dateFormat: "yy-mm-dd" });

        });
 
    #footer